@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    position: relative;
}

.banner-content {
    z-index: 1;
    position: absolute;
    top: 265px;
    left: 385px;
}

.banner-content a {
    width: 170px;
    height: 50px;
    background-color: rgba(24, 80, 133, 0.911);
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 50px;
    margin: 0px auto;
}

.banner-content a:hover {
    background-color: rgba(56, 49, 49, 0.938);
}

.banner h2 {
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 85px;
    text-align: center;
    font-style: italic;
    color: #ff8f00;
}

.banner h5 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.banner h1 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 95px;
}

.entry {
    position: absolute;
    bottom: 0px;
    background-color: white;
    z-index: 1;
    left: 15%;
    right: 15%;
    bottom: 0px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0 3px 8px -1px lightgray;
    -moz-box-shadow: 0 3px 8px -1px lightgray;
    box-shadow: 0px 3px 8px -1px lightgray;
}

input {
    display: block;
    padding: 10px 15px;
    color: gray;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 220px;
    height: 70px;
    margin: 10px;
    font-size: 18px;
}

label {
    color: grey;
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
}

#inputAdults,
#inputChildren {
    height: 70px;
    width: 220px;
    padding: 10px 15px 10px 30px;
    margin-top: 44px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    color: gray;
}

.selectNumber {
    position: relative;
}

.entry i {
    position: absolute;
    left: 22px;
    top: 70px;
}

.checkButton {
    position: relative;
}

#check {
    font-size: 18px;
    background-color: rgb(14, 14, 124);
    color: white;
    padding: 10px;
    font-style: bold;
    width: 230px;
    height: 70px;
    margin-top: 44px;
    margin-left: 10px;
    border: none;
    outline: none;
    padding-left: 25px;
}

.checkButton i {
    position: absolute;
    color: skyblue;
}

#check:hover {
    background-color: rgb(25, 30, 56);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: rgba(182, 183, 184, 0.37);
}

.about {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    padding: 45px 0px;
}

.about-left-box {
    display: flex;
    flex-direction: row;
}

.about-right-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

#about-img-1 {
    width: 450px;
    height: 720px;
    margin: 20px 30px 20px 60px;
}

.about_flex-box-1,
.about_flex-box-2 {
    display: flex;
    flex-direction: column;
}

.about_flex-box-2 {
    padding: 75px 0px 25px;
}

#about-img-2,
#about-img-3 {
    width: 450px;
    height: 340px;
    margin: 20px;
}

.about-right-box .fa-snowflake-o {
    font-size: 50px;
    color: skyblue;
    position: absolute;
    top: 10px;
    left: 48%;
}

.about_flex-box-2 h4 {
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.about_flex-box-2 h1 {
    text-align: center;
    margin: 20px;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about_flex-box-2 p {
    text-align: center;
    font-size: 25px;
    padding: 10px 0px;
    margin: 35px auto;
}

.about_flex-box-2 a {
    width: 200px;
    height: 65px;
    color: white;
    background-color: rgba(14, 60, 104, 0.911);
    text-align: center;
    margin: 10px auto;
    line-height: 65px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.about_flex-box-2 a:hover {
    background-color: rgba(56, 49, 49, 0.938);
}

.features {
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(240, 236, 236, 0.822);
}

.features .fa-snowflake-o {
    position: absolute;
    color: skyblue;
    font-size: 50px;
    left: 49%;
    top: 8px;
}

.features-align-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 45px 0px;
}

.features h4 {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.features h1 {
    text-align: center;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25px auto;
}

.features .container .col-3 {
    height: 550px;
    background-color: white;
    margin: 0px 45px;
}

.features .container .col-3:hover {
    background-color: rgba(0, 27, 77, 0.89);
    box-shadow: 2px 2px 13px 10px gray;
}

.col-3:hover>h2,
.col-3:hover>h4,
.col-3:hover>a>h4 {
    color: white;
}

.features .col-3 a {
    text-decoration: none;
    color: black;
}

.features-icon-1 {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    background-color: skyblue;
    margin: 45px auto;
    position: relative;
}

.features-icon-2 {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    background-color: pink;
    margin: 45px auto;
    position: relative;
}

.features-icon-3 {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    background-color: rgba(224, 133, 163, 0.897);
    margin: 45px auto;
    position: relative;
}

.fa-cutlery {
    color: rgba(9, 130, 201, 0.808);
    font-size: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.fa-bed {
    color: rgba(235, 134, 151, 0.877);
    font-size: 70px;
    position: absolute;
    top: 50px;
    left: 46px;
}

.fa-key {
    color: rgba(187, 82, 82, 0.822);
    font-size: 70px;
    position: absolute;
    top: 50px;
    left: 46px;
}

.features .container h2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 30px auto;
}

.features .container h4 {
    margin: 35px auto;
    text-align: center;
}

.rooms {
    padding: 85px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(220, 232, 250);
}

.rooms .fa-snowflake-o {
    position: absolute;
    color: skyblue;
    font-size: 50px;
    left: 49%;
    top: 25px;
}

.rooms h4 {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.rooms h1 {
    text-align: center;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25px auto;
}

.rooms a {
    text-decoration: none;
    color: black;
}

.rooms a:hover {
    color: rgb(113, 196, 230);
}

.rooms a h4 {
    margin-bottom: 30px;
    font-size: 18px;
}

.reasons {
    position: relative;
}

.reasons-align-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 45px 0px;
    margin-top: 60px;
}

.reasons .fa-snowflake-o {
    position: absolute;
    color: skyblue;
    font-size: 50px;
    left: 49%;
    top: -10px;
}

.reasons h4 {
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.reasons h1 {
    text-align: center;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25px auto;
}

.row-item h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

.row-item p {
    color: grey;
    text-align: center;
    margin: 15px;
    font-size: 18px;
}

.row-item .col-12 {
    margin: 25px 0px;
}

.row-item-content {
    display: flex;
    flex-direction: row;
}

.row-img {
    border-radius: 50%;
    width: 240px;
    height: 140px;
    background-color: skyblue;
    position: relative;
    margin: 15px;
}

.row-img i {
    position: absolute;
    left: 35%;
    top: 34%;
    font-size: 53px;
    color: rgb(39, 132, 168);
}

.reasons .card {
    display: flex;
    flex-direction: row;
    margin: 60px 50px;
}

.reasons .card .card-img {
    width: 40%;
    text-align: right;
}

.reasons .card .card-img img {
    height: 50px;
    width: 180px;
    margin: 10px auto;
}

.reasons .card .card-body {
    width: 60%;
}

.reasons .card .card-body p {
    font-size: 25px;
    margin: 0px 10px;
}

.services {
    background-color: rgba(255, 224, 229, 0.534);
    position: relative;
}

.services .fa-snowflake-o {
    position: absolute;
    left: 49%;
    top: 10px;
    color: skyblue;
    font-size: 50px;
}

.services-align-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}

.services h4 {
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.services h1 {
    text-align: center;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25px auto 0px;
}

.services-container {
    margin: 0px 15px;
}

.services .col-3 h1 {
    font-size: 40px;
}

.services .col-3 p {
    text-align: center;
    font-size: 18px;
    color: gray;
    margin: 5px auto;
}

.customers {
    background-color: rgba(192, 225, 238, 0.322);
    position: relative;
}

.customers-align-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}

.customers .fa-snowflake-o {
    position: absolute;
    left: 49%;
    top: 14px;
    color: skyblue;
    font-size: 50px;
}

.customers h4 {
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.customers h1 {
    text-align: center;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25px auto 0px;
}

.customers .card {
    margin: 15px auto;
    width: 75%;
    border-radius: 5px;
    position: relative;
}

.customers .card .rating {
    position: absolute;
    bottom: 8px;
    left: 40%;
    font-size: 20px;
}

.customers .card-body p {
    font-size: 18px;
    color: grey;
    margin: 50px auto;
}

.customers .row-inner .col-4 img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    display: block;
    margin: 15px auto;
}

.row-inner .info {
    display: flex;
    flex-direction: row;
}

.greetings {
    display: flex;
    flex-direction: row;
    height: 200px;
    position: relative;
    background-color: rgb(204, 221, 247);
}

.greetings h2 {
    color: black;
    line-height: 200px;
    margin: 10px 55px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.greetings img {
    position: absolute;
}

.greetings .img1 {
    right: 30%;
    bottom: 0px;
}

.greetings .img2 {
    right: 15%;
    bottom: 0px;
    z-index: 1;
}

.greetings .img3 {
    right: 7%;
    bottom: 0px;
}