@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Texturina:wght@600&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
}

.layer {
    background-color: rgba(0, 0, 20, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
}

.container1 .centered h1 {
    font-size: 45px;
    margin-bottom: 18px;
    color: white;
}

.container1 .centered span {
    font-size: 18px;
    color: white;
}

.container1 .centered span a {
    color: white;
    text-decoration: none;
}

.container1 .centered span a:hover {
    color: crimson;
}
.container1 img {
    height: 370px;
    width: 100%;
    opacity: 0.5;
}

.container-fluid h2{
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
}
.container-fluid img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.parts {
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /*background-image: linear-gradient(#054581,#FFEFD5);*/
    box-shadow: 10px #051422;
    
}
.parts h2{
    font-style: normal;
    font-family: fantasy;
    margin: 15px;
}
.parts p{
    text-align: center;
}